[Desktop Entry]
Name=Sanctify
GenericName=Minesweeper
Comment=Get rid of curses hidden inside the floors of the Temple
Categories=Game;LogicGame;BoardGame;
Exec=com.github.elliegames.sanctify-game %U
Icon=com.github.elliegames.sanctify-game
Terminal=false
Type=Application
Keywords=sanctify,mythical,greek,roman,fantasy,minesweeper
X-GNOME-Gettext-Domain=com.github.elliegames.sanctify-game
StartupNotify=true
